@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
    font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }

  select {
    @apply cursor-pointer;
  }

  select option {
    @apply bg-white text-gray-900;
  }
}
